<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZVKU7ORlp-DjKnj7uMG42BI-di09YxyY</string>
	<key>GCM_SENDER_ID</key>
	<string>368984315537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ankit.ankitAgent</string>
	<key>PROJECT_ID</key>
	<string>ankit-s-deep-agent</string>
	<key>STORAGE_BUCKET</key>
	<string>ankit-s-deep-agent.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368984315537:ios:b61b8584f2fffd6f8d9130</string>
</dict>
</plist>